{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container my-4 py-4"">
        <h2>Contact</h2>
        {{ form_start(form, {'attr': {'class': 'mb-4'}}) }}
        {{ form_errors(form) }}

        <div class="row">
            <div class="col">
                {{ form_row(form.imo, {'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="col">
                {{ form_row(form.nom, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>

        <div class="row">
            {{ form_row(form.MMSI, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="row">
            {{ form_row(form.indicatifappel, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="row">
            {{ form_row(form.Eta, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="row">
            {{ form_row(form.longueur, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="row">
            {{ form_row(form.largeur, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="row">
            {{ form_row(form.tirantdeau, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="row">
            {{ form_row(form.aisShipType, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="row">
            {{ form_row(form.Pavillon, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="row">
            {{ form_row(form.destination, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <button class="btn btn-success" type="submit">Envoyer</button>
        {{ form_end(form) }}
        <button class="btn btn-success">Retour</button>
    </div>
{% endblock %}
